@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import './slipper-theme.css';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';
@custom-variant dark (&:where(.dark, .dark *));

button {
	@apply transition-colors duration-200 ease-in-out;
}

[data-theme='slipper-theme'] body {
	margin: auto;
}

[data-theme='slipper-theme'] .label-text {
	display: block;
	font-size: var(--text-base);
	color: #d4d4d4 /* #000 */;
	line-height: var(--text-md--line-height);
	font-weight: var(--font-weight-normal);
}

[data-theme='slipper-theme'] input {
	background-color: var(--color-tertiary-500);
	padding-block: calc(var(--spacing) * 4);
	padding-inline: calc(var(--spacing) * 5);
}
