@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import './slipper-theme.css';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';
@custom-variant dark (&:where(.dark, .dark *));

button {
	@apply transition-colors duration-200 ease-in-out;
}

[data-theme='slipper-theme'] body {
	margin: auto;
}

[data-theme='slipper-theme'] .label-text {
	display: block;
	font-size: var(--text-base);
	color: #d4d4d4 /* #000 */;
	line-height: var(--text-md--line-height);
	font-weight: var(--font-weight-normal);
}

[data-theme='slipper-theme'] input {
	background-color: var(--color-tertiary-500);
	padding-block: calc(var(--spacing) * 4);
	padding-inline: calc(var(--spacing) * 5);
}

[data-theme='slipper-theme'] .form-next-button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: calc(infinity * 1px);
	padding-inline: calc(var(--spacing) * 4);
	padding-block: calc(var(--spacing) * 3);
	color: var(--color-black);
	transition:
		background-color 0.2s ease-in-out,
		color 0.2s ease-in-out;
	width: 100%;
	background-color: var(--color-secondary-500);

	&:hover:valid {
		background-color: var(--color-secondary-600);
	}

	&:disabled {
		background-color: #58585c;
		color: var(--color-white);
		opacity: 0.9;
	}
}
